<div>
  <h2>Log In Please!</h2>
  <%= form_tag '/login' do %>
    Username: <%= text_field_tag :username %><br>
    Password: <%= password_field_tag :password %><br>
    <%= submit_tag "Click here please friendo" %>
  <% end %>
</div>  